.bgimHeader, 
.bgimMain {
    background-image: url("./header.jpg"); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position-y: bottom;
    background-position-x: center;
}

.bgimMain {
    background-image: url("./jumbotron.jpg");
    background-position-y: center;
    color: white;
}